services:
  pact-broker:
    image: pactfoundation/pact-broker:latest
    ports:
      - "9292:9292"
    environment:
      PACT_BROKER_DATABASE_ADAPTER: "sqlite"
      PACT_BROKER_DATABASE_NAME: "/tmp/pact_broker.sqlite3"
